body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landing-container {
  flex: 1;
  display: flex;
  flex-direction: row; /* Default: left-right layout */
}

.left-half {
  flex: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("./suds.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.logo {
  width: 100%;
}

.right-half {
  font-family: "Fira sans condensed";
  flex: 1;
  background: #1792e8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  justify-content: space-between;
}

.content h1 {
  font-family: "Ubuntu";
  font-size: 5rem;
  color: #e7fcff;
  text-align: left;
  margin: 0 0 20px 0;
  border-left: 3px solid white;
  padding-left: 25px;
}

.content p {
  font-size: 1.3rem;
  color: #e7fcff;
  max-width: 400px;
}

/* Services & Contact Section */
.info-sections {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.services,
.contact {
  flex: 1;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.services h2,
.contact h2 {
  font-size: 1.5rem;
  color: #e7fcff;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  font-size: 1.3rem;
  color: #e7fcff;
  margin-bottom: 5px;
}

.contact p {
  font-size: 1.3rem;
  color: #e7fcff;
  margin-top: 10px;
}

.footer {
  background-color: #c5f6ff;
  text-align: center;
  padding: 0px 0;
  font-size: 0.9rem;
  color: #1792e8;
}

.footer p {
  margin: 5px;
}

/* --- Responsive Design --- */
@media (max-width: 768px) {
  .landing-container {
    flex-direction: column; /* Change to top-bottom layout */
  }

  .left-half {
    height: 50vh; /* Adjust height for mobile */
  }

  .logo {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items:  center;
  }

  .right-half {
    height: 50vh;
    text-align: left;
    padding: 20px;
  }

  .content h1 {
    font-size: 3rem; /* Smaller heading for mobile */
  }

  .content p {
    font-size: 1rem; /* Adjust text size */
  }

  .info-sections {
    flex-direction: column;
  }
}
